<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.item.vote.mapper.E_UserMapper">

    <resultMap id="BaseResultMap" type="com.item.vote.bean.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="role" jdbcType="INTEGER" property="role" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createTime" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updateTime" />

    </resultMap>
    <update id="updatePwd"  parameterType="com.item.vote.bean.User" >
        update e_user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                updated_at = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where name = #{name,jdbcType=VARCHAR}
        and  role = 0
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
         id,name,role,created_at,updated_at
        from e_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectUserList" resultMap="BaseResultMap">
         select id,name,role,created_at,updated_at
           FROM
            e_user
            where role = 0
    </select>
    <select id="selectByUserName" parameterType="com.item.vote.bean.User" resultType="java.lang.Integer">
         select count(1)
           FROM
            e_user
          where  name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="selectUserByUserName" parameterType="java.lang.String" resultMap="BaseResultMap" >
         select id,name,role,created_at,updated_at
           FROM
            e_user
          where  name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="login" parameterType="com.item.vote.bean.User"  resultMap="BaseResultMap">
         select id,name,role,created_at,updated_at
           FROM
            e_user
            where
             name = #{name,jdbcType=VARCHAR}
             and password = #{password,jdbcType=VARCHAR}
    </select>



    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.item.vote.bean.User">
        insert into  e_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="createTime != null">
                created_at,
            </if>
            <if test="updateTime != null">
                updated_at,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>

            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from  e_user
       where id = #{id,jdbcType=INTEGER}
   </delete>-->


    <!--<select id="selectRoleByUserName" parameterType="com.item.vote.bean.User" resultType="java.lang.Integer">-->
    <!--select role-->
    <!--FROM-->
    <!--e_user-->
    <!--where  name = #{name,jdbcType=VARCHAR}-->
    <!--</select>-->


 <!--   <update id="updateByPrimaryKeySelective" parameterType="com.item.vote.bean.User">
        update e_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
        and  role != 1
    </update>-->







</mapper>